/.vscode 
/aggregartp
/desaggregartp
/ingests
/multicat
/multicat_loop.tar.gz
/offsets
/BT_Barker-Promo-HDp25_5MBps.aux
/.cache
/BT_Barker-Promo-HDp25_5MBps.ts
/loop_many_multicat.rb
/loop_multicat.rb
/BT_Barker-Promo-HDp25_5MBps.mpg
/BT_Barker-Promo-HDp25_5MBps.xml
BT_Barker-Promo-HDp25_5MBps.zip
mc.txt
/BT_Barker-Promo-HDp25_5MBpscopy.ts
mtv.ts
mtv.1.aux
mtv.1.ts
mtv.2.aux
mtv.2.ts
mtv.aux
/BT_barker-Promo-HDp25_5MBpscopy.aux
/BTbarker-Promo-HDp25_5MBpscopy.aux