/.vscode 
/aggregartp
/desaggregartp
/ingests
/multicat
/multicat_loop.tar.gz
/offsets
/BT_Barker-Promo-HDp25_5MBps.aux
/.cache
/BT_Barker-Promo-HDp25_5MBps.ts
/loop_many_multicat.rb
/loop_multicat.rb
/BT_Barker-Promo-HDp25_5MBps.mpg